@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
 /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  font-family: 'Roboto', sans-serif;
}

.login-card {
  padding: 40px;
  width: 274px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password], input[type=email]{
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  /*-webkit-appearance: none;*/
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  /*box-sizing: border-box;
  -moz-box-sizing: border-box;*/
}

.login-card input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
/* -webkit-user-select: none;
user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 11110px;
  color: #ffffff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
}

.login-card a:hover {
  opacity: 1;
  /*transition: opacity ease 0.5s;*/
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}




/*input[type="text"], input[type="email"], input[type="password"] {
  float: left;
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  line-height: 1;
  border: 0px solid transparent;
  width: 90%;
  height: 2.6em;
  line-height: 100%;
  font-weight: 300;
}
*/
input:focus {
  color: #042422;
}
input + span:after {
  display: none;
}

input:required {
  border-right: 5px solid white;
}

input:invalid:focus {
  border-right: 5px solid #da4e3b;
}
input:invalid:focus + span:after {
  width: 250px;
  display: block;
  background: #da4e3b;
  color: white;
  padding: 0.6em 2em;
  position: absolute;
  top: 0;
  right: -92000%;
}
input:invalid:focus + span:before {
  content: "\25C2";
  position: absolute;
  font-size: 2em;
  line-height: 1;
  color: #da4e3b;
  z-index: 2;
  top: 8%;
  right: -8%;
}

/*input[type="email"]:invalid:focus + span:after {
  content: "A good ol' @provider.com address ;)";
}

input[type="password"]:invalid:focus + span:after {
  content: "And, please, not your cat's name :)";
}
*/
input:valid:focus {
  border-right: 5px solid #a9db48;
}
input:valid:focus + span:after {
  width: 250px;
  display: block;
  background: #a9d000;
  color: white;
  padding: 0.6em 2em;
  position: absolute;
  top: 0;
  right: -92%;
}
input:valid:focus + span:before {
  content: "\25C2";
  position: absolute;
  font-size: 2em;
  line-height: 1;
  color: #a9db48;
  z-index: 2;
  top: 8%;
  right: -8%;
}

/*input[type="email"]:valid:focus + span:after {
  content: "You're ready for the next step !";
}

input[type="password"]:valid:focus + span:after {
  content: "That\s a nice one !";
}
*/
button[type="submit"] {
  /*font-family: "Lato", sans-serif;
  background: #43b1aa;
  color: white;
  border: 0 none;*/
  display: block;
  padding: 0.5em 0;
  width: 100%;
  height: 36px;
  font-size: 1em;
  font-weight: 100;
  cursor: pointer;
  /*transition: all 0.3s ease-in-out;*/


  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}
button[type="submit"]:hover {
  /*background: #249991;
  color: #cccccc;
  */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}


