.friend
{
	position: fixed;
	top: 70px;
	left: 200px;
}

.friendinfo{
	position: relative;
	top: -320px;
	left: 600px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	padding: 20px;
}

a{
	text-decoration: none;
}

.add{
position: relative;
margin-left: auto;
margin-right: auto;
left: 900px;
top: -100px;
}